.ipynb_checkpoints/

# Compressed files.
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Exclude unnecesary/large datafiles
data/06_fAstCal1.2/
